<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>

<body>
    <%- include('./partials/nav') %>
        <h1>Full Menu</h1>
        <p>
            <% RESTAURANT.menu.forEach(item=> { %>
            Name: <%= item.name %><br>
            Price: <%= item.price %><br>
            Rating: <%= item.rating %><br>
            Details: <%= item.details %>
        </p>
        <% }) %>
            </ul>
</body>

</html>